.menu {
  background-color: #fff;
  height: 50px;
  padding: 10px 20px 10px 20px;
  color: black;
}

.canvas {
  color: gray;
  position: absolute;
  top: 115px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
