.menu {
  background-color: #fff;
  color: black;
}

.tabsBar {
  background-color: red;
  height: 20px;
}

.editor {
  position: absolute;
  top: 115px;
  width: 100%;
  height: calc(100% - 120px);
  color: gray;
}
